* {
  font-family: 'Poppins', sans-serif;
}

.post {
  margin-top: 15px;
}

.image {
  width: 75%;
  height: 40vh;
  border-radius: 10px;
  margin-bottom: 15px;
}

.imageExample {
  /* background: whitesmoke; */
  object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 15px;
}

.upVote {
  font-size: 1em;
  font-weight: bold;
}

.postDetails {
  margin-top: -5px;
  font-size: 0.6em;
  color: gray;
}

.postDescription {
  font-size: 0.7em;
  font-family: poppins;
}

.readMore {
  font-size: 0.7em;
}

.posts {
  width: 25vw;
}

.addPostDescription {
  font-size: 0.7em;
  font-color: gray;
  font-family: poppins;
}

.jumbotron {
  padding-top: 4vh !important;
  padding-bottom: 4vh !important;
}

.form-jumbo {
  /* background-size: cover; */
  /* background-image: url('https://cdn.dribbble.com/users/3818247/screenshots/6768703/artboard_1pc_setup1_2x.png'); */
  /* background: rgb(63,61,86); */
  background: linear-gradient(0deg, rgba(114,109,166,1) 0%, rgba(108,99,255,1) 100%);
  color: white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.addImage {
  border: 1px solid #6C64F6;
  color: #6C64F6;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
  /* font-weight: bold; */
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}